@media only screen and (min-width: 992px) {

 head {

    width: 100%;
 }
    
    .headings {
        line-height: 0.75rem;
        display: flex;
        flex-direction: column;
    
    }

    .motto {
        margin-top: 5px;
        margin-left: 8px;
    }
  
    
    .mainmenu li:first-child { 
        display: none;	
    }
    
    .mainmenu li {
        display: inline-block;
    }
    
    .mainmenu ul {
        display: flex;
        flex-direction: row;
    }

    .mainmenu a {
        text-decoration: none;
        color: #241c0c;
        font-size: 1.5em;            
        width: 100%;
        text-align: center;
        padding: .75rem;
    }

   

    section.forecast {
        
        display: block;
        padding: 10px;
        text-align: center;
    }
    
    section.forecast h3 {
        background-color: rgb(51, 226, 226);
        font-family: Noto, sans, JP;
        font-size: 2.5rem;
    }
    
    section.forecast img {
        width: 80%;
    }
    
    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
      }
   
    table, th, td {
        
        border: 1px solid black;
        font-size: 1rem;
        padding: 20px;
      }
  
    /*Five Day*/

.fiveday {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 226, 226);
    width: 75%;
    height: auto;
    padding: 1em;
  }

 
  .fiveday-td {
   
    background-color: rgb(123, 255, 255);
    height: 1.5em;
    width: 1em;
    padding: 1em;
    font-size: 2em;
    
    
  }

  .fiveday-td,
  .fiveday-temp {
    text-align: center;
    font-size: 1.5em;
    color: maroon;
  }

  .fiveday-td img {
    width: 25px;
    padding-top: 10px;
  }
  
  /*article*/
  
  article {   
      
    width:100%;
}
    
    article img {
        width: 20%;        
    
    }
    
    .left {
        display: inline-block;
    }

    /*Upcoming Events*/

    .events img {
        width: 12%;
        border-radius: 2em;
        padding: 2px;
        box-shadow: 0 0 10px #777777;
    }
    
  
    
 
    footer {
        font-size: 1.3em;
    }
    

    footer img {
        display: block;  
        float: right;  
        margin-left: auto;
        margin-right: 35px;
        margin-bottom: 15px;
        width: 25%;
        padding: 2px;
    box-shadow: 0 0 10px #777777;
        
        
    }

    div.socials {
        
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    


    div.imageGallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.imageGallery figure:hover {
        box-shadow: .25rem .25rem 1rem black;;
    }


/*Town JSON*/
#townjson {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    max-width: 1200px;
    margin-left: 12%;
    margin-bottom: 30px;
}



   

}