
body {
    background-color: #6682ff;
    font-family: href='https://fonts.googleapis.com/css?family=Roboto';
    font-size: 16px;
    color: black;
}
#logo {
    display: block;
    font-family: cursive;
}
header {
    background-color: #E0FFFF;
    
    color: black;
    text-align: center;
    width: 100%;
}
header img, .headings {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;   
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E0FFFF;
}
li a {
    display: block;
    width: 100%;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #006647;
    color: white;
}
.active {
    background-color: #6682ff;
    color: white;
}