@media only screen and (min-width: 54em) {

    
    nav button {
        display: none;

    }

    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    
    }

    
    
    
    li {
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem;
        vertical-align: middle;
    }
    .forecast {
        width: 55%;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        visibility: visible;
    }

    footer aside {
        display: grid;
        grid-template-columns: none;
        margin: 0;
    }
    


}