@media only screen and (min-width: 64em) {

  

    header img, .headings {
        max-width: 12vw;
        max-height: 12vw;
        padding-top: 2em;
        padding-bottom: 3em;
        padding-left: 2em;
        vertical-align: center;        
        margin-right: 10px;
        
    }
   
   
    nav button {
        display: none;

    }

    nav ul {

        display: inline-flex;
        border: none;
        padding-left: 12em;
    }

    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    
    }

    
    
    
    li {
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem;
        vertical-align: middle;
    }
    .forecast {
        width: 55%;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        visibility: visible;
    }

   h2 {
       text-align: center;
   }
   
    div.imageGallery {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;
        
        
    }

    div.imageGallery figure:hover {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }


    footer aside {
        display: grid;
        grid-template-columns: none;
        margin: 0;
    }
    


}