@media only screen and (min-width: 600px) {


           
article img {
    width: 40%;
    float: right;

}

.left {
    display: inline-block;
}

.contactinfo #map {
    width: 40%;
    display: inline-block;
    margin-left: 200px;

}



/* GALLERY */

div.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

}